.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #ba38a9;
  height: 100vh;
  font-size: 1.6rem;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: black;
  width: 100%
}

.header {
  font-size: 3.6rem;
  color: white;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
  height: 200px;
  width: 300px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  font-size: 5.6rem;
}

.input {
  margin: 10% 0;
  height: 80px;
  width: 120px;
  display: block;
  font-size: 5.6rem;
  text-align: center;
}
